<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>相册</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/head.css">
	<link rel="stylesheet" href="css/all.css">
</head>
<body>
	<div class="header">
		<div class="inner">
			<div class="logo">
				<img src="imgs/taylor8.jpg" alt="">
			</div>
			<div class="nav">
				<ul>
					<li class="active"><a href="/all_albums">全部相册</a></li>
					<li><a href="/user_albums?hisid=<%=myid%>">我的相册</a></li>
					<li><a href="/manage_albums">管理相册</a></li>
				</ul>
			</div>
			<div class="user">
				<div class="touxiang">
					<a href="/caijian"><img src="<%=touxiang%>" alt=""></a>
				</div>
				<div class="username"><%=username%></div>
				<div class="exit"><a href="/exit">退出</a></div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="inner">
			<ul>
				<%for(var i = 0;i < arr.length;i ++){%>
					<%if(!(arr[i].myid === myid)){%>
						<%if(arr[i].share === "false"){%>
							<%continue;%>
						<%}%>
					<%}%>
					<li><img src="<%=arr[i].myid%>/<%=arr[i].album_name%>/<%=arr[i].pic_name%>" style="height:100%;"></li>
				<%}%>
			</ul>
		</div>
	</div>
</body>
</html>